
.image-item {
  padding: 0 0 0 50px;
}
.feed-slider{
  margin: 0 30px 0 0px;
}
.carousel-slider{
  margin: 0px;
}
.left-to-right{
  direction: ltr;
  margin: 0 20px 0 10px;
  padding: 0 0px 0 30px;
}
.custom-left-arrow {
  position: absolute !important;
  left: 6px;
  z-index: 1;
  border: 1px solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  opacity: 0.8;
  cursor: pointer;
  background: transparent;
  transform: rotate(135deg) scale(1.2);
  outline: none;
}
.custom-right-arrow {
  display: none;
}

/* .carousel-padding{
  margin: 0 50px 0 50px;
  padding: 0 200px 0 200px;
} */
.dropdown{
  background: transparent;
  text-decoration: none;
  color: white;
  outline: none !important;
  border: none !important;
  min-width: 90px;
  transition: all 0.5s
}
.dropdown:hover  {
  outline: none;
  border: none;
  background-color: #fff !important;
  color: #333 !important;
  border-radius: 5px;
}

.dropdown:focus{
  color: #333;
  background-color: white;
  border-radius: 5px;
  outline: none !important;
  border: none !important;
}
.show:hover *{
  color: #333 !important;
}
.dropdown:active{
  color: #333 !important;
  border-radius: 5px;
  outline: none !important;
  border: none !important;
}
.defaultLink{
  color: white;
  text-decoration: none;

}
.defaultLink:hover{
  color: #333;
  text-decoration: none;
}
.defaultLink:focus{
  color: white;
  text-decoration: none;
}

.langauge-select{
  min-width: 110px;
  user-select: none;
  font-weight: 300;
}
.langauge-select i:hover {
  font-size: 16.2px;
  border-radius: 5px;
  transition: all 0.1s;
  -webkit-text-shadow: -10px 35px 46px -12px rgba(0,0,0,0.75);
-moz-text-shadow: -10px 35px 46px -12px rgba(0,0,0,0.75);
text-shadow: -10px 35px 46px -12px rgba(0,0,0,0.75);
}
.error{
  color:red;
  height: 0px;
  min-height: 0px;
  max-height: 0px;
}
.dx-datagrid-search-panel{
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.09);
  border: 10px !important;
  width: 870px !important;
  transform: translateY(-200%);
}
.btn{
  font-size: 10pt;
}
.dx-data-row > td{
  color: #6F6F6F;
font-weight: 300;
padding: 7px 4px !important;
border:none;
background:#f5f5f5;
font-family: 'CoconNextArabic-Bold', Sans-Serif ;
}
.dx-data-row{
  border-top: 5px solid white !important;
  border-bottom: 13px solid white !important;
}
.dx-data-row > td:last-child{
  border-right: 20px solid white !important;
}
.dx-header-row > td{
  user-select: none;
  color: #333;
  font-weight: 300;
  padding: 0 4px !important;
  border: none;
  font-size: 15px;
  font-family: 'CoconNextArabic-Bold',Sans-Serif;
}
.dx-header-row {
  height: 30px;
  border-bottom: #333 solid 1px !important;
}
.dx-datagrid-headers{
  margin-bottom: 2px !important;
  
}
.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all .5s;
  border-radius: 55px;
  background: #ddd !important;
  
  z-index: 1000;
  border: 0;
  min-width: 35px !important;
  min-height: 35px !important;
  opacity: 1 ;
  cursor:pointer;
}
.react-multiple-carousel__arrow::before {
  display: inline-block !important;
  content:" " !important;
  font-family: none !important;
  border: solid #fff !important;
  border-width: 0 2.5px 2.5px 0 !important;
  text-align: center;
  margin-top: 6.5px;
  padding: 4px;
  opacity: 0.9 !important;
  z-index: 2;
  position: relative;
}
.react-multiple-carousel__arrow:hover {
  transform: scale(1.1) !important;
}
.react-multiple-carousel__arrow--left::before{
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(135deg) !important;
  margin-left: 4px;
}
.react-multiple-carousel__arrow--right::before{
  transform: rotate(-45deg) !important;
  -webkit-transform: rotate(-45deg) !important;
  margin-right: 4px;
}
textarea {
  resize: none;
  word-break: break-all !important;
}

/* .App {
  text-align: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
